.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.boxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainImage {
  width: 100%;
}

@media only screen and (min-width: 700px) {
  .mainImage {
    width: 700px;
  }
}

.MuiSwitch-track {
  background-color: #00a003 !important;
}